.hireme{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
}
.reactAtag{
    text-decoration: none;
    color: #212529;
}
.reactFont{
    width: 30px;
    height: 40px;
}
.reactFont:hover{
    color: #ffffff;
    transition: 0.5s;
}
.cvButton{
    background-color: #0DCAF0;
    color: #ffffff;
}
/* .cvButton:hover{
    background-color: #0DCAF0;
} */